<div>
  <h2>
    <!-- BINDING INTERPOLACIÓN CON {{}} -->
    <!-- Pinta el contenido de la variable nombre que la inicializa con @Input -->
    ¡Hola, {{ nombre }}!
  </h2>

  <!-- BINDING DE PROPIEDAD con [] -->
  <!-- Modificació de atributos HTML con [] y atributos propios del DOM -->
  <h3 [innerText]="nombre" >
    <!-- InnerText de H3 irá aquí será sustituido por "nombre"-->
  </h3>

  <!-- Ponemos en práctica el Double Binding a través del ngModel -->
  <div>
    <!-- Usamos ngModel para poder modificar desde la vista el valor de la variable nombre -->
    <input type="text" [(ngModel)]="nombre"  >
  </div>

  <!-- Botón para ejecutar el método saludoConsola que está en el controlador del componente -->
  <!-- Al ser un EVENTO se pone entre () para indicar el método de clase que se debe ejecutar -->
  <!-- Los eventos nativos de HTML son, por ejemplo: onClick, pues en Angular se quita el on -->
  <!-- El nombre del método se pone con () al final, o si no, éste no se ejecutará al no envcontrarlo -->
  <button (click)="saludarConsola()">
    <!-- texto del botón que se muestra al usuario -->
    Mostrar saludo por consola
  </button>

  <!-- Botón que sirva para enviar un mensaje al padre a través del EventEmitter @Output -->
  <button (click)="enviarAlPadre('Hola, Padre. ¿Cómo estás?')">
    Enviar mensaje al padre
  </button>

</div>
