<div>
  <!-- Renderizado de estilo dinámico a través de la directiva [ngClass] -->
  <!-- En nuestro caso, si el contacto está 'online', se muestra en verde -->
  <!-- Si no está online, se muestra en gris -->
  <p class="nombre-contacto" [ngClass]="{'nombre-contacto-online': contacto.online,
            'nombre-contacto-offline': !contacto.online} "
            (click)="cambiarEstado()">
    <!-- TODO: Descomentar si quieres ejemplo pasando ID -->
    <!-- {{ contacto.id }} - {{ contacto.nombre }} -->
    {{ contacto.nombre }}
  </p>
  <p class="email-contacto">
    {{ contacto.email}}
  </p>
  <!-- Botón para borrar el contacto -->
  <button class="btn-borrar" (click)="eliminar()" >
    Borrar contacto
  </button>
</div>
