.nombre-contacto:hover{
  // Cuando nos ponemos sobre el nombre, se cambiar el cursor a una manita
  cursor: pointer;
}

.nombre-contacto-online{
  font-weight: bold;
  color: rgb(9, 134, 5);
}

.nombre-contacto-offline{
  font-weight: bold;
  color: rgb(83, 90, 83);
}

.email-contacto{
  font-style: italic;
  color: rgb(21, 111, 146)
}

.btn-borrar{
  background-color: tomato;
  color: white;
  font-weight: bold;
  width: 100%;
}
