<div>
  <h1 class="agenda">
    Mi Agenda de Contactos
  </h1>
  <div class="filtros">
    <h2>Filtrar por:</h2>
    <!-- Creamos un Select para elegir entre los diferentes filtros -->
    <select name="filtro" id="select-filtro"
            [(ngModel)]="filtro_seleccionado"
            (change)="cambiarFiltro(filtro_seleccionado)">
      <!-- Iteramos sobre las opciones descritas en el TS y generamos -->
      <!-- una Option por cada una de ellas con el filtro como valor -->
      <option *ngFor="let option of options_select">
        {{option.filtro}}
      </option>
    </select>
  </div>
  <div class="contactos" *ngFor="let contacto of listadoFiltrado; let index = index">
    <!-- Iteración sobre el listado de contactos, para acceder a sus propiedades y mostrarlas -->
    <!-- TODO: Descomentar si quieres ejemplo pasando ID -->
    <!-- <app-contacto [contacto]="contacto" [id]="index" (borrar)="eliminarContactoPorID($event)" ></app-contacto> -->
    <app-contacto [contacto]="contacto" (borrar)="eliminarContacto($event)" ></app-contacto>
  </div>

  <!-- TODO: Terminar con un formulario reactivo, de momento usamos ngModel de ejemplo -->
  <!-- TODO: Cambiar por un componente a parte de tipo Formulario -->
  <!-- El formulario se va a mostrar si la variable mostrarFormulario es TRUE, si no, no se renderiza -->
  <!-- Lo haremos con un *ngIf que es una directiva estructural -->
  <!-- Si es false, muestra el bloque con #mostrar -->
  <div class="formulario" *ngIf="mostrarFormulario; else opcionMostrar">
    <h2>Formulario para crear contactos</h2>
    <div>
      <input type="text" placeholder="Nombre contacto" [(ngModel)]="nuevoNombre" >
    </div>
    <div>
      <input type="text" placeholder="Email contacto" [(ngModel)]="nuevoEmail" >
    </div>
    <button class="btn-crear" (click)="crearContacto()">
      Crear Nuevo Contacto
    </button>
    <!-- Botón para ocultar el formulario -->
    <!-- Cuando se oculte, se mostrará el ng-template con #opcionMostrar -->
    <button class="ocultar-formulario" (click)="mostrarFormularioCreacion()">
      Ocultar Formulario
    </button>
  </div>

  <!-- Bloque se va a mostrar si no se muestra el formulario -->
  <ng-template #opcionMostrar>
    <div>
      <button class="mostrar-formulario" (click)="mostrarFormularioCreacion()" >
        Mostrar Formulario
      </button>
    </div>
  </ng-template>


</div>
