.formulario {
    padding: auto;
    margin: auto;
}

.btn-crear{
  color: white;
  background-color: rgb(80, 156, 80);
  font-weight: bold;
  width: 100%;
}

.mostrar-formulario{
  color: white;
  background-color: rgb(27, 63, 161);
  font-weight: bold;
  width: 100%;
}

.ocultar-formulario{
  color: white;
  background-color: tomato;
  font-weight: bold;
  width: 100%;
}
