<h1>
  Ejemplo de Formulario Reactivo
</h1>

<!-- Para definir un formulario reactivo, tenemos que crear un form y asociar -->
<!-- la variable de tipo formGroup con la misma y con formControlName, cada uno -->
<!-- de los campos del mismo -->
<!-- ? Resumen de atributos: -->
<!-- formGroup = variable formulario -->
<!-- formControlName = campos del formulario asociado -->

<form [formGroup]='miFormulario' (submit)='enviarFormulario()' >

  <h2>Datos del formulario:</h2>
  <!-- mostramos los valores del formulario en formato JSON para visualizar los cambios -->
  <p> {{ miFormulario.value | json }} </p>

  <!-- Pintar los campos del formulario con componentes de Angular Material -->
  <mat-form-field appearance="fill">
    <input matInput placeholder="Nombre" formControlName="nombre">
    <mat-error *ngIf='nombre?.errors?.required && nombre?.touched'>
      El campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="Apellidos" formControlName="apellidos">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf='email?.errors?.required && email?.touched'>
      El campo es obligatorio
    </mat-error>
    <mat-error *ngIf='email?.errors?.email && email?.touched'>
      El formato de email no es válido
    </mat-error>
  </mat-form-field>

  <!-- Teléfono es un campo compuesto de prefijo y número -->
  <!-- <div formGroupName="telefono">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Prefijo" formControlName="prefijo">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Número" formControlName="numero">
    </mat-form-field>
  </div> -->

  <!-- Array de teléfonos dentro del formulario -->
  <div formArrayName='telefonos'>
    <div *ngFor="let telefono of telefonosFormulario.controls; let i = index" [formGroupName]='i'>
      <!-- Representación de cada teléfono del array de telefonos -->
      <h3> Teléfono - {{i}} </h3>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Prefijo" formControlName="prefijo">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Número" formControlName="numero">
      </mat-form-field>
      <button mat-raised-button color='warn' (click)='eliminarTelefono(i)'>
        Borrar
      </button>
    </div>
    <!-- Botón para añadir un nuevo grupo de teléfono al array de telefonos del formulario -->
    <button mat-raised-button color='primary' (click)="anadirTelefono()">
      Añadir un nuevo teléfono
    </button>
  </div>


  <mat-form-field appearance="fill">
    <input matInput placeholder="Departamento" formControlName="departamento">
    <mat-error *ngIf='departamento?.errors?.required && departamento?.touched'>
      El campo es obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Botón que hace submit del formulario -->
  <!-- Este botón al ser pulsado ejecuta lo que hemos puesto en (submit) -->
  <button mat-raised-button color='accent' type='submit' [disabled]='miFormulario.invalid' >
    Enviar
  </button>

</form>
