<div>
  <h1>
    Listado de elementos:
  </h1>
  <!-- Usamos una directiva estructural llamada *ngFor -->
  <!-- Para repetir línea de HTML tantas veces como iteraciones tengamos -->
  <div class="lista-elementos"  *ngFor="let elemento of listado"   >

    <!-- Dentro de este DIV podemos hacer uso de la variable LET generada -->
    <!-- a travé de la iteración de la lista llamada listado[] -->
    <!-- y cuyo nombre es "elemento" -->

    <!-- TODO: Descomentar para ver los valores que toma elemento -->
    <!-- - {{ elemento }} -->

    <!-- Ahora vamos a usar el componente y le vamos a pasar por @Input -->
    <!-- el elemento que tiene que pintar -->

    <!-- Pintar tantos elementos como haya en la lista -->
    <!-- Es decir, app-elemento se va a pintar N veces -->
    <app-elemento [nombre]="elemento" ></app-elemento>

  </div>
</div>
